---
Checks:            '*,-altera-*,-fuchsia-*,-google-*,-llvmlibc-*,-clang-analyzer-*,-*-braces-around-statements,-bugprone-exception-escape,-cert-msc32-c,-cert-msc51-cpp,-cppcoreguidelines-avoid-magic-numbers,-readability-isolate-declaration,-readability-magic-numbers,-misc-non-private-member-variables-in-classes,-cppcoreguidelines-macro-usage,-clang-diagnostic-deprecated-declarations,-llvm-header-guard,-cppcoreguidelines-avoid-non-const-global-variables,-readability-function-cognitive-complexity'
HeaderFilterRegex: 'libvb/'
