.DS_Store
*.db
*.dot
*.hi
*.log
*.mp4
*.o
*.out
*.pdf
*.png
*.pov
*.ref
/.lock*
/.vscode
/.waf*
/00_Results
/build
/graph
/Notepad.org
/output
/report
/report.tasks
/snapshots
/warnings.*
amc.*
bla*
CMakeUserPresets.json
compile_commands.json
out*
toto
