.DS_Store
.vscode/browse.db-shm
.vscode/browse.db-wal
.vscode/ipch
*.db
*.dot
*.hi
*.log
*.mp4
*.o
*.out
*.pdf
*.png
*.pov
*.ref
/.lock*
/.waf*
/00_Results
/build
/graph
/Notepad.org
/output
/report
/report.tasks
/snapshots
/warnings.*
amc.*
bla*
compile_commands.json
out*
toto
